table{
    border: 2px solid red;
    height: 200px;
    width: 600px;
}
th{
    border-bottom: 1px solid black;
}
td{
    text-align: center;
}
.app{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}