body{
    margin: 0;
    padding: 0;
}
.heading{
    height:70px ;
    width: 100%;
    background-color: rgb(19, 53, 245);
    color:goldenrod;
    text-align: center;
}
.heading h1{
    padding: 20px;
}